torch==2.1.0 torchvision torchaudio xformers torchtext --index-url https://download.pytorch.org/whl/cu121
bitsandbytes==0.43.0
tensorboard==2.15.2 tensorflow==2.15.0.post1
onnxruntime-gpu==1.17.1
-r requirements.txt
